In [2]:
import netCDF4 as nc
from datetime import date, datetime
from calendar import monthrange
import pathlib
import sqlite3
import pandas as pd
import sys
sys.path.append("./")
from utils import *

In [3]:

database_dir = pathlib.Path("databases/")
database_file = pathlib.Path("weather_bucharest.db")
database_filepath = database_dir / database_file

db_con = sqlite3.connect(database_filepath)
db_cur = db_con.cursor()

In [4]:
weather_df = pd.read_sql("SELECT * FROM weather", db_con)

db_con.close()

In [5]:
weather_df

       index_d  year  month  day      min_t      max_t     mean_t   pp
0            0  1950      1    1  -6.690000   2.050000  -3.490000  0.0
1            1  1950      1    2  -9.220000  -2.190000  -3.570000  0.0
2            2  1950      1    3  -6.380000   1.110000  -0.990000  0.0
3            3  1950      1    4  -7.040000   4.460000   0.960000  1.0
4            4  1950      1    5  -4.840000   0.400000  -2.370000  2.6
...        ...   ...    ...  ...        ...        ...        ...  ...
27205    27205  2024      6   26  21.400000  32.989998  26.519999  0.0
27206    27206  2024      6   27  19.369999  33.049999  25.330000  0.0
27207    27207  2024      6   28  16.740000  32.579998  23.619999  0.0
27208    27208  2024      6   29  19.260000  34.649998  26.090000  0.0
27209    27209  2024      6   30  18.129999  36.290001  25.840000  0.0

[27210 rows x 8 columns]